
.jj{
margin-bottom: 90px;
background: url('https://images.pexels.com/photos/3785935/pexels-photo-3785935.jpeg?auto=compress&cs=tinysrgb&w=400');
offset: .6;
}

.hh{
    background: rgba(9, 30, 62, .7);
}

.iij{
    max-width: 600px;
}

.macc{
    max-width: 600px;
}

.jkl{
    max-width: 600px;
}

.kkl{
    width: 60px; height: 60px;
}

.ggl{
    width: 60px; height: 60px;
}

.boox{
    background: #9bb0ce;
}

.ser{
    width: 100%;
}
.ser2{
    height: 435px;
}

.ser3{
    margin-top: -104px;
}

.acc1{
    background: rgb(6, 2, 59);
}